@font-face {
 	font-family: "Roboto";
 	src: url('../fonts/roboto.woff') format("woff"),
		url('../fonts/roboto.woff2') format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
 	font-family: "Roboto";
 	src: url('../fonts/robotobold.woff') format("woff"),
		url('../fonts/robotobold.woff2') format("woff2");
    font-weight: bold;
    font-style: normal;
}

@font-face {
 	font-family: "Roboto";
 	src: url('../fonts/robotomedium.woff') format("woff"),
		url('../fonts/robotomedium.woff2') format("woff2");
    font-weight: medium;
    font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: #849d8f;
}

.container {
	width: 1200px;
	margin: 0 auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

