@font-face {
 	font-family: "Roboto";
 	src: url('../fonts/roboto.woff') format("woff"),
		url('../fonts/roboto.woff2') format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
 	font-family: "Roboto";
 	src: url('../fonts/robotobold.woff') format("woff"),
		url('../fonts/robotobold.woff2') format("woff2");
    font-weight: bold;
    font-style: normal;
}

@font-face {
 	font-family: "Roboto";
 	src: url('../fonts/robotomedium.woff') format("woff"),
		url('../fonts/robotomedium.woff2') format("woff2");
    font-weight: medium;
    font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: #849d8f;
}

.container {
	width: 1200px;
	margin: 0 auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.header {
	width: 100%;
	height: 120px;
}

.header-left {
	width: 50%;
	float: left;
}

.header-right {
	width: 50%;
	float: right;
}

.header-logo {
	float: left;
	width: 154px;
	height: 64px;
	margin-left: 27px;
	margin-top: 9px;
}

.logo img {
	width: 154px;
	height: 64px;
}

.nav-menu {
	margin: 0;
	padding: 0;
	margin-left: 11px;
	margin-top: 23px;
	float: left;
	list-style: none;
}

.nav-menu li {
	float: left;
}

.nav-menu li a {
	text-decoration: underline;
	color: #ffffff;
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	line-height: 18px;
	padding: 9px 14px;
}

.nav-menu li a:hover {
	padding: 8px 13px;
	border: 1px solid #ffffff;
	border-radius: 17px;
	background-color: #ffffff;
	color: #333333;
	text-decoration: none;
}

.nav-buttons {
	float: right;
	width: 100%;
}

/*.nav-buttons input {
	float: right;
	width: 32px;
}*/

.nav-buttons a {
	float: right;
	color: #ffffff;
	margin-left: 10px;
}

.nav-buttons a:first-child {
	margin-right: 27px;
}

.header-contacts {
	float: right;
	text-align: right;
	margin-right: 27px;
}

.header-contacts p {
	color: #ffffff;
}

.header-contacts a {
	text-decoration: none;
	color: white;
}